







.hero {
    background-color:#2e2f42; 
    padding: 188px 0; 
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/office.jpg');
    background-size: 1440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    font-family: "Roboto",sans-serif;
    cursor: pointer; font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    padding-top: 16px; padding-bottom: 16px; padding-left: 32px; padding-right: 32px; 
    text-align: center; min-width: 169px; height: 56px; border: none; border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,.button:focus{
    font-family: "Roboto",
    sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #404bbf;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.section-header-team, .section-header-portfolio, .section-header-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-position, .description-portfolio, .description-advantages{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-section{
    background-color: #f4f4fd; padding-bottom: 120px;;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-image {
    background-color: #FFFFFF
}

.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.footer{
    background-color: #2e2f42;
}

.item-footer{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.header  {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex; 
    align-items: center;
    width:1158px; 
    margin: 0 auto; 
    padding: 0 15px 0 15px
}

.nav {
    display: flex; 
    justify-content:space-between; 
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center; 
}

.item.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    left: 0;
}

.item.current {
    color: #404bbf;
}

.item {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    color: #404bbf;
}

.address-list {
    display: flex; 
    justify-content: flex-end;
    gap: 40px; 
    align-items: center; 
}

.address {
    margin-left: auto;
}

.section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-advantages.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.advantages-item {
    flex-basis: calc((100% - 3 * 24px)/ 4)
}

.icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.advantages-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    border-radius: 4px;
}

.team-section {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.team-header {
    margin-bottom: 72px
}

.team-list {
    display: flex; 
    gap: 24px; 
    text-align: center; 
} 

.worker-container {
    padding: 32px 0;
}

.team-image {
    flex-basis: calc((100% - 3 * 24px) / 4); 
    border-radius: 0 0 4px 4px; 
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    align-items: center;
}

.section-header-team {
    margin-bottom: 8px; 
    text-align: center;
}

.description-position {
    align-items: center;
}

.contact-social-team {
    gap: 24px;
    display:flex;
    justify-content: center;
}

.worker-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.contact-social-team {
    gap: 24px;
    display: flex;
    justify-content: center;
}
.link-item-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-contact:hover, .link-item-contact:focus{
    background-color: #404bbf;
}

.contact-list-footer {
    display: flex;
    gap: 16px;
}

.item-fill, .item-fill-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.item-fill :hover,
.item-fill :hover {
    background-color: #404bbf;
}

.link-item-contact-footer:hover,
.link-item-contact-footer:focus {
    background-color: #31D0AA;
}

.link-item-contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    background-color:#4d5ae5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
    width: 24px;
    height: 24px;
   fill:#f4f4fd;
}

.section-portfolio {
    padding: 120px 0 120px 0
}

.portfolio-header {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px; 
    row-gap: 48px; 
    flex-wrap: wrap; 
    box-sizing: border-box;
}

.section-header-portfolio {
    margin-bottom: 8px
}

.wrap-portfolio{
    position:relative; 
    overflow: hidden;
}

.portfolio-image{
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image:hover {
    box-shadow: 
    0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color:#4d5ae5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    transform:translateY(100%);
    width: 360px;
    height: 300px; 
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-image:hover .overlay { 
    transform:translateY(0);
}

.container-portfolio {
    padding: 32px 16px; 
    border: 1px solid #e7e9fc; 
    border-top: none;
    position: relative;
}

.footer {
    padding: 100px 0
}

.footer .container{
    display:flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block; 
    margin-bottom: 16px;
}

.item-footer {
    width: 264px; 
}

.icon-contact-footer{
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.footer-content {
    margin-right: 120px
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 
    0 1px 3px 0 rgba(0, 0, 0, 0.12), 
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:(translate -50% -50%);
    padding: 24px;
    padding-top: 72px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 360px;
    margin-bottom: 16px;
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.icon-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color:#404bbf;
    border: none;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill:#FFFFFF;
}
.form-wrapper-container {
    margin-bottom: 8px;
}

.form-user-label{
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-user-input{
    width: 100%;
    height:40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}
.form-user-input:focus {
    border: 1px solid #4d5ae5;
}

.form-user-input:focus+ .form-user-icon {
    fill:#4d5ae5;;
}

.form-user-icon-wrapper{
    position:relative;
    margin-bottom: 16px
}

.form-user-icon {
    position:absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
}

.form-comment:focus {
    border-color:  #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.blue-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}
.custom-checkbox{
    width: 16px; 
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .label-checkbox .custom-checkbox{
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-checkbox-wrapper {
    margin-bottom: 24px;
}

.button-form {
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    bottom: 16px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
    background-color: #404bbf;
}

.email-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    padding-left: 80px;
}

.form-email-footer{
    display: flex;
    gap: 24px;
    padding-left: 80px;
}
.email-footer::placeholder {
    color: #ffffff;
}

.button-subscribe {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404bbf;
}

.icon-subscribe{
    margin-left: 16px;
    fill: #fff;
}