body {
    font-family: "Roboto",
        sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    margin-top: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 367px;
    padding: 0 15px;
    margin: 0 auto;
}


@media screen and (max-width: 768px) {
    .header {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 736px;
        }   
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-logo .studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .item:hover,
.nav .item:focus {
    color: #404bbf;
}

.nav .item:active {
    color: #404bbf;
    text-decoration: underline;
}

@media screen and (min-width: 767px) {
    .nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
    .nav-list, 
    .address-list {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .nav-list {
        display: flex;
        gap: 40px;
        margin-left: 120px;
    }
}

@media screen and (min-width: 1157px) {
    .nav-list {
        display: flex;
        gap: 40px;
        margin-left: 76px;
    }
}

.address {
    font-style: normal
}

@media screen and (min-width: 1157px) {
    .address-list {
        display: flex;
        gap: 40px;
    }
}

.item-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-address:hover,
.item-address:focus {
    color: #404bbf;
    font-style: normal;
}
.btn-menu {
    background-color: transparent;
    border: none;
    stroke: #2F2F37;
    padding: 0;
    line-height: 0;
    position: absolute;
    top: 16px;
    right: 16px;
}

@media screen and (min-width: 767px) {
    .btn-menu {
        display:none;
    }
}

.close-icon-mob {
    fill: #2e2f42;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}
.mobile-close-btn:hover,
.mobile-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.mobile-close-btn:hover .close-icon-mob,
.mobile-close-btn:focus .close-icon-mob {
    fill: #FFFFFF;
}

.container-mobile-menu {
    position:relative;
    padding-top: 72px;
}

.mobile-menu {
    background-color:#FFFFFF;
    position: fixed;
    top:0;
    left:0;
    color: #2e2f42;
    width:100%;
    height:100%;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 320px) {
  body {
    width: 100%; 
    overflow-x: scroll; 
  }
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.list-mobile {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.link-mobile{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.address-list-mobile{
    display: flex;
    flex-direction: column;
    gap:24px;
    padding-top: 168px;
}

.item-address-mobile {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.violet {
    color: #404bbf;
}

.link-item-contact-mobile:hover,
.link-item-contact-mobile:focus {
    background-color: #404bbf;
}

.contact-list-mobile {
    display: flex;
    gap: 40px;
    align-items:center;
    justify-content: space-between;
    padding-top: 48px;
}

.item-fill-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-contact-mobile{
    fill: #f4f4fd;
}

.link-item-contact-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/layouts/hero-image-1x-mobile.jpg');
    background-size: 320px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/layouts/hero-image-2x-mobile.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-size: cover;
        padding: 112px 0;
        min-width: 768px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/layouts/hero\ image\ laptop\ 1x.jpg');
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/layouts/hero-image-laptop-2x.jpg');
    }
}

@media only screen and (min-width: 1158px) {
    .hero {
        background-size: cover;
        max-width: 1140px;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url('../images/layouts/hero-image-desktop-1x.jpg');
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/layouts/hero-image-desktop-2x.jpg');
    }
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 48px;
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
}
}

@media screen and (min-width: 1158px) {
    .title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}
.button {
    display: block;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    font-family: "Roboto",
        sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-header-advantages {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .section-header-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
    }
}

.section-advantages {
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .section-advantages {
    padding-top: 120px;
    padding-bottom: 120px;
}
}

.advantages-list{
    width: 288;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .advantages-list  {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    column-gap: 24px;
    align-items: flex-start;
}
}

@media screen and (min-width: 768px) {
.advantages-item {
    flex-basis: calc((100% - 2 * 16px)/ 2);
    
}
}

.description-advantages {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1158px) {
    .description-advantages {
        font-weight: 400;
    }
}

@media screen and (max-width: 1158px) {
.icon {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .advantages-list {
            display: flex;
            gap: 24px;
        }
        .advantages-item {
            flex-basis: calc((100% - 3 * 24px)/ 4)
        }
        .icon {
            border: 1px solid #8e8f99;
            border-radius: 4px;
            width: 264px;
            height: 112px;
            background: #f4f4fd;
            padding: 24px 100px;
            margin-bottom: 8px;
        }
}
.team-section {
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f4f4fd;
}

@media screen and (max-width: 768px) {
    .team-section .container { 
        width: 584px
    }
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
.team-list {
    row-gap: 64px;
    column-gap: 24px;
    margin: 0 auto;
}
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
    }
}
        
.team-image {
    display: flex;
    flex-wrap: wrap;
    min-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    align-items: center;
    background-color: #FFFFFF;
    justify-content: center;
}

@media screen and (min-width: 768px) {
.team-image {
        flex-basis: calc((100% - 2 * 16px) / 2);
        column-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
.team-image {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
}
.section-header-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.item-fill {
    width: 40px;
    height: 40px;
}
.icon-contact {
    fill: #f4f4fd;
}
.link-item-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-item-contact:hover,
.link-item-contact:focus {
    background-color: #404bbf;
}
.worker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
    margin-top: 32px;

}
.contact-social-team {
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.section-portfolio {
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
    background: #fff;
}

@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
.portfolio-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    padding-top: 32px;
}

.description-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.container-portfolio {
    padding-left: 16px;
    padding-bottom: 32px;
}

.portfolio-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
}

.portfolio-image {
   border: 1px solid #e7e9fc;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media screen and (min-width: 768px) {
.portfolio-image {
    flex-basis: calc((100% - 24px)/ 2)
}
}

@media screen and (min-width: 1158px) {
    .portfolio-image {
        flex-basis: calc((100% - 3 * 24px)/ 3)
    }
}
.portfolio-image:hover {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.wrap-portfolio {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    transform: translateY(100%);
    width: 288px;
    height: 288px;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .overlay {
        width: 356px;
        height: 300px;
    }
}

@media screen and (min-width: 1158px) {
    .overlay {
        width: 360px;
    }
}
.portfolio-image:hover .overlay {
    transform: translateY(0);
}
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
    min-width: 320px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .footer-content {
        align-items: flex-start;
    }
}

.item-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo .studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.contact-list-footer {
    display: flex;
    gap: 16px;
}

.item-fill,
.item-fill-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.item-fill :hover,
.item-fill :hover {
    background-color: #404bbf;
}

.link-item-contact-footer:hover,
.link-item-contact-footer:focus {
    background-color: #31D0AA;
}

.link-item-contact-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    gap:72px;
    align-items:center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .footer .container {
        width: 584px;
    }
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.item-footer {
    width: 264px;
}

.icon-contact-footer {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .contact-container{
        align-items:flex-start;
}
}

.footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.email-footer {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}


.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .subscribe {text-align: start;
    }
}
.form-email-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

}

@media screen and (min-width: 768px) {
    .form-email-footer{
    min-width: 453px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-end;
    gap: 24px;
}
}

.email-footer::placeholder {
    color: #ffffff;
}

.button-subscribe {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
    background-color: #404bbf;
}

.icon-subscribe {
    margin-left: 16px;
    fill: #fff;

}

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


.modal {
    border-radius: 4px;
    width: 288px;
    min-height:623px;
    box-shadow:
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    padding: 24px;
    padding-top: 72px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .modal {width: 408px;
        min-height: 584px;
    }
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 256px;
    margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
    .modal-text { width: 360px;
    }
}

.modal-close {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.icon-close {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .icon-close,
.modal-close:focus .icon-close {
    fill: #FFFFFF;
}

.form-wrapper-container {
    margin-bottom: 8px;
}

.form-user-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    outline: transparent;
}

.form-user-input:focus {
    border: 1px solid #4d5ae5;
}

.form-user-input:focus+.form-user-icon {
    fill: #4d5ae5;
    ;
}

.form-user-icon-wrapper {
    position: relative;
    margin-bottom: 16px
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
}

.form-comment:focus {
    border-color: #4d5ae5;
}

.form-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.blue-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.label-checkbox .custom-checkbox {
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
    border: none;
}

.form-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-checkbox-wrapper {
    margin-bottom: 24px;
}

.button-form {
    display: block;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    bottom: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover,
.button-form:focus {
    background-color: #404bbf;
}